*
{
padding:0;
margin:0;
box-sizing: border-box;
}
body
{
font-family: sans-serif;
}
.Menu-bar
{
background: rgb(0,100,0);
text-align: center;
}
.Menu-bar ul
{
display:inline-flex;
list-style:none;
color: #fff;
}
.Menu-bar ul li
{
width: auto;
margin:5px;
padding:15px;
}
.Menu-bar ul li a
{
	text-decoration:none;
	color: #fff;
}
.active, .Menu-bar ul li:hover
{
background:#2bab0d;
border-radius: 3px;
height: 55px;
}